@model IEnumerable<Expenditure>

<HTML>
<body>
    <table class="expend mb-5 table table-bordered col-3">
        <thead>
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Date
                </th>
                <th>
                    Montant
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        @foreach (var expend in Model)
        {
            <tr>
                <td>
                    @expend.Name
                </td>
                <td>
                    @expend.Date
                </td>
                <td>
                    @expend.Amount
                </td>
                <td class="table-active"></td>
            </tr>
        }
    <tr>
        <td class="table-active"></td>
        <td class="table-active"></td>
        <td class="table-active"></td>
        <td>
            @Model.Sum(e => e.Amount)
        </td>
    </tr>
    </table>
</body>





